{% extends 'index.html' %}

<head>
    <title>{% block title %}Tarea 2 - Automatas{% endblock %}</title>
</head>
{% block body %}

<body>
    <div class="container animate__animated animate__fadeIn">
        <h1 class="text-center mt-2">Programa AFD y AFND</h1>
        <div class="row mt-5">
            <form class="col" id="Autom" method="POST" action="{%url 'aplicacion'%}">
                {% csrf_token %}
                <h3>Automata 1</h3>
                <div class="form-group">
                    <!-- Definicion de nodos -->
                    <label for="NodosDefinidos">K:</label>
                    <input type="text" class="form-control" id="nodos1" name="nodos1" placeholder="Ejemplo: q0;q1;q2">
                    <small>Ayuda: Conjunto de identificadores de estados</small>
                </div>
                <div class="form-group">
                    <!-- Definicion de abecedario -->
                    <label for="Abecedario">Σ:</label>
                    <input type="text" class="form-control" id="abcdario1" name="abcdario1" placeholder="Ejemplos: a;b...;etc / 0;1...;etc">
                    <small>Ayuda: Alfabeto de entrada</small>
                </div>
                <div class="form-group">
                    <!-- Definicion de transiciones -->
                    <label for="Transiciones">δ:</label>
                    <input type="text" class="form-control" id="transicion1" name="transicion1" placeholder="Ejemplo: q0,q1,a;q0,q2,b">
                    <small>Ayuda: Funcion de transicion (Nodo inicio, nodo destino, condicion)</small>
                </div>
                <div class="form-group">
                    <!-- Nodo inicial -->
                    <label for="NodoInicial">S:</label>
                    <input type="text" class="form-control" id="nodo_inicial1" name="nodo_inicial1" placeholder="Ejemplo: q0">
                    <small>Ayuda: Nodo inicial</small>
                </div>
                <div class="form-group">
                    <!-- Nodo Final -->
                    <label for="NodoFinal">F:</label>
                    <input type="text" class="form-control" id="nodo_final1" name="nodo_final1" placeholder="Ejemplo: q1;q2">
                    <small>Ayuda: Estados finales</small>
                </div>
                <div class="form-group">
                    <!-- Palabra automata -->
                    <label for="PalabraVerificar">Palabra:</label>
                    <input type="text" class="form-control" id="palabra1" name="palabra1" placeholder="Ejemplo: abaa">
                </div>
                <h3>Automata 2</h3>
                <div class="form-group">
                    <!-- Definicion de nodos -->
                    <label for="NodosDefinidos">K:</label>
                    <input type="text" class="form-control" id="nodos2" name="nodos2" placeholder="Ejemplo: q0;q1;q2">
                    <small>Ayuda: Conjunto de identificadores de estados</small>
                </div>
                <div class="form-group">
                    <!-- Definicion de abecedario -->
                    <label for="Abecedario">Σ:</label>
                    <input type="text" class="form-control" id="abcdario2" name="abcdario2" placeholder="Ejemplos: a;b...;etc / 0;1...;etc">
                    <small>Ayuda: Alfabeto de entrada</small>
                </div>
                <div class="form-group">
                    <!-- Definicion de transiciones -->
                    <label for="Transiciones">δ:</label>
                    <input type="text" class="form-control" id="transicion2" name="transicion2" placeholder="Ejemplo: q0;q1;a;q0;q2;b">
                    <small>Ayuda: Funcion de transicion (Nodo inicio, nodo destino, condicion)</small>
                </div>
                <div class="form-group">
                    <!-- Nodo inicial -->
                    <label for="NodoInicial">S:</label>
                    <input type="text" class="form-control" id="nodo_inicial2" name="nodo_inicial2" placeholder="Ejemplo: q0">
                    <small>Ayuda: Nodo inicial</small>
                </div>
                <div class="form-group">
                    <!-- Nodo Final -->
                    <label for="NodoFinal">F:</label>
                    <input type="text" class="form-control" id="nodo_final2" name="nodo_final2" placeholder="Ejemplo: q1;q2">
                    <small>Ayuda: Estados finales</small>
                </div>
                <div class="form-group">
                    <!-- Palabra automata -->
                    <label for="PalabraVerificar">Palabra:</label>
                    <input type="text" class="form-control" id="palabra2" name="palabra2" placeholder="Ejemplo: abaa">
                </div>
                <button type="submit" class="btn btn-outline-success">Aceptar</button>
                <br>
                <small>Nota: Los ejemplos de cada campo no aseguran que los datos sean correctos, solamente cumplen con mostrar el formato requerido por la aplicacion</small>
            </form>
            <div class="col">
                <div class="card bg-light mb-3">
                    <div class="card-header">
                        <h3>Resultados:</h3>
                    </div>
                    <div class="card-body">
                        {% block content %} {% if respuestas %} {%for respuesta in respuestas %}
                        <a>{{respuesta}}</a> {% endfor %} {% else %}
                        <a>En espera del ingreso de datos</a> {% endif %} {% endblock %}
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
{% endblock %} {% block footer %}
<footer class="mt-3">
    <nav class="navbar navbar-dark bg-primary">
        <h6 class="text-center text-white">Desarrollado por: Nicolas Ipinza, Ariel Painenao, Luis Salinas</h6>
        <a href="https://github.com/barsinsor/tarea_de_grafos_2" target="_blank"><i class="fab fa-github" style="color: white; font-size: 30px;"></i></a>
    </nav>
</footer>
{% endblock %}